mat-expansion-panel-header {
  padding: 0px 16px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
mat-panel-title {
  line-height: 40px;
  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: 5px 5px 5px 0px;
  }
}

mat-panel-description {
  line-height: 40px;
}
mat-card {
  padding-bottom: 0px;

  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
  }
}
