<mat-card >
  <mat-card-header>
    <mat-icon *ngIf="kb.type === 'common'" mat-card-avatar>language</mat-icon>
    <mat-icon *ngIf="kb.type !== 'common'" mat-card-avatar>account_box</mat-icon>
    <mat-card-title><span *ngIf="kb.source">{{kb.source}}</span> <span *ngIf="kb.type !== 'common'">'s</span> Knowledge</mat-card-title>
    <span class="spacer"></span>
    <mat-checkbox [ngModel]="kb.selected" (change)="setSelected($event.checked)"></mat-checkbox>
    <button mat-icon-button (click)="fileImportInput.click()">
      <mat-icon>attachment</mat-icon>
      <input [disabled]="kb.locked" #fileImportInput type="file" (change)="onFileInput($event)" style="display:none;" accept=".dlgp" />
    </button>
    <button mat-icon-button (click)="show = !show">
      <mat-icon *ngIf="!show">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="show">arrow_drop_up</mat-icon>
    </button>
  </mat-card-header>

  <div *ngIf="show">
  <mat-card-content>
      <mat-form-field style="width: 100%">
        <textarea matInput rows="10" [(ngModel)]="dlgp" [disabled]="kb.locked"></textarea>
      </mat-form-field>
  </mat-card-content>


  <mat-card-actions style="display:flex">
    <button mat-flat-button color="accent" (click)="undo()" [disabled]="kb.locked">UNDO</button>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" (click)="setKnowledgeBaseDLGP(dlgp)" [disabled]="kb.locked">SAVE</button>
  </mat-card-actions>
  </div>
</mat-card>
