<!--<h2 mat-dialog-title>{{title}}</h2>-->

<mat-dialog-content style="display:flex; flex-direction: column">
  <mat-form-field style="width:200px">
      <input matInput [(ngModel)]="name" (keydown)="onKeyDown($event)"
              placeholder="Name">
  </mat-form-field>
  <!--<mat-form-field>
      <input matInput type="email" disabled="true" [(ngModel)]="email"
              placeholder="Email">
  </mat-form-field>-->
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="close()">CLOSE</button>
  <span class="spacer"></span>
  <button *ngIf="name" mat-raised-button color="primary" (click)="save()">CONFIRM</button>
  <button *ngIf="!name" mat-raised-button color="primary" (click)="save()">CONFIRM</button>
</mat-dialog-actions>
