<div style="height: 100vh;display: flex;flex-direction: column">
<mat-toolbar color="primary">
  <mat-icon>scatter_plot</mat-icon>
  <h1 style="padding-left:15px">{{title}}</h1>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav mode="side" opened="true" class="mat-elevation-z3">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>gavel</mat-icon>
        <mat-card-title>Reasoning</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Query" [(ngModel)]="query"></textarea>
        </mat-form-field>

        <mat-select placeholder="Semantics" name="semantics" [(ngModel)] = "chosenSemantic">
          <mat-option *ngFor="let semantic of semantics" [value]="semantic.value">
            {{semantic.name}}
          </mat-option>
        </mat-select>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="build()">BUILD</button>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" (click)="answerQuery()">QUERY</button>
      </mat-card-actions>
    </mat-card>

    <sg-knowledge-base *ngFor="let kb of KBs; let index = index" [(kb)]="KBs[index]"></sg-knowledge-base>



  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
