<div style="height: 100vh;display: flex;flex-direction: column">
<mat-toolbar color="primary">
  <mat-icon>scatter_plot</mat-icon>
  <h1 style="padding-left:15px">{{title}}</h1>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav mode="side" opened="true" class="mat-elevation-z3">
    <mat-card >
      <mat-card-header>
        <mat-icon mat-card-avatar>file_copy</mat-icon>
        <mat-card-title>Knowledge Base</mat-card-title>
        <span class="spacer"></span>
        <button mat-icon-button (click)="fileImportInput.click()">
          <mat-icon>attachment</mat-icon>
          <input #fileImportInput type="file" (change)="onFileInput($event)" style="display:none;" accept=".dlgp" />
        </button>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field style="width: 100%">
          <textarea matInput rows="20" [(ngModel)]="kb"></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="clearKB()">CLEAR</button>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" (click)="build()">BUILD</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>gavel</mat-icon>
        <mat-card-title>Reasoning</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Query" [(ngModel)]="query"></textarea>
        </mat-form-field>

        <mat-select placeholder="Semantics" name="semantics" [(ngModel)] = "chosenSemantic">
          <mat-option *ngFor="let semantic of semantics" [value]="semantic.value">
            {{semantic.name}}
          </mat-option>
        </mat-select>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="clearQuery()">CLEAR</button>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" (click)="answerQuery()">QUERY</button>
      </mat-card-actions>
    </mat-card>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
